.a1{
  
  background-color: rgb(108, 89, 176);
  border: 2% solid black;
  padding: 1%;
  margin: 30%;
  text-align: center;
}
h2{
  background-color: aqua;
  text-align: center;
}
.a3{
  border: 2px solid rgb(151, 22, 22)
 
}